{
displayStrings = (
"
TEHALDIV/space TEHTTDIV/space 
Buider/space 
TEHDIV/space 
TEHFUDIV/space 
TEHOLDIV/space 
TEHYADIV/space 
TEHBEDIV/space 
TEHIDIV/space 
TEHWHDIV/space 
TEH/L.ss09/E.ss09 DIV/space 
t\"
TEHETDIV/space 
TEHETDIV/space TEHFRDIV/space 
TEHETDIV/space TEHFRDIV/space 
TEHETDIV/space TEHTTDIV/space 
TEHETDIV/space TEHFUDIV/space 
nigfid/space 
TEHBLDIV/space 
TEHEDIV/space 
niefid/space 
niobid/space 
H'
niomid/space 
(b
nigvid/space 
Zuider/space 
niykid/space 
Asider/space 
TEHIIDIV/space 
TEHIIDIV/space TEHFRDIV/space 
TEHIIDIV/space TEHFRDIV/space 
TEHRSDIV/space 
TEHEEDIV/space 
TEHTSDIV/space 
TEHRODIV/space 
/u.ss05/ellipsis 
TEHEPDIV/space 
ni/y.ss11/ntilde.ss11 id/space 
Avider/space 
Arider/space 
e\"
Juider/space 
Abider/space 
Spider/space 
ni/i.ss11/eth.ss11 id/space 
TEHADIV/space 
TEHNIDIV/space 

TEHTODIV/space 
TEHTYDIV/space 
TEHALDIV/space TEHTTDIV/space 
nisrid/space niggid/space 
TEHETDIV/space TEHTYDIV/space 
TEHXVDIV/space TEHTYDIV/space 
nigrid/space 
TEHALDIV/space TEHTODIV/space 
Flider/space 
ni/o.ss11/w.ss11 id/space 
TEHTHDIV/space 
k-
niybid/space 
nialid/space 
TEHFEDIV/space 
Vgider/space TEHRODIV/space 
TEHYADIV/space TEHRODIV/space 
Pgider/space TEHRODIV/space 
TEHETDIV/space TEHISDIV/space 
Avider/space TEHRODIV/space 
Tider/space TEHRODIV/space 
Vgider/space TEHRODIV/space 
TEHETDIV/space TEHFEDIV/space 
Lider/space 
Hrider/space 
Lider/space Itider/space 
Itider/space Pbider/space 
Orider/space 
Hyider/space 
niozid/space 
Vbider/space Myider/space 
niozid/space nichid/space 
Ifider/space 
Ifider/space 
Tyider/space 
Loider/space 
TEHVIDIV/space 
d'
Utider/space 
Lyider/space 
niccid/space 
TEHTTDIV/space 
Auider/space 
Awider/space",
"/hookabovecomb",
"/o.ss10",
"O/Oogonek",
"o/ohorn",
"/ohorn",
"/ogonekcomb/uogonek",
a,
o,
"/abrevegrave.ss05/abrevegrave.ss06/abrevegrave.ss07/abrevegrave.ss08/abrevegrave.ss09/brevecomb_gravecomb/abrevegrave.ss10/abrevegrave.ss11/abrevehookabove.ss11/abrevetilde.ss11/acircumflexgrave.ss11/acircumflexhookabove.ss11/acircumflextilde.ss11/ahookabove.ss11",
"/circumflexcomb_acutecomb/acircumflexacute.ss08",
"G/Gcommaaccent",
H,
U,
"/A.ss03/ogonekcomb/Aogonek.ss03",
"/O.ss05",
"/brevebelowcomb",
"/macronbelowcomb",
"/tildebelowcomb",
"/ringbelowcomb",
"/circumflexbelowcomb",
"
TEHPPDIV/space 
nisuid/space ww
nisoid/space 
niblid/space 
TEHAKDIV/space"
);
}
