{
displayStrings = (
"
TEHALDIV TEHTTDIV 
Buider 
TEHDIV 
TEHFUDIV 
TEHOLDIV 
TEHYADIV 
TEHBEDIV 
TEHIDIV 
TEHWHDIV 
TEH/L.ss09/E.ss09 DIV 
t\"
TEHETDIV 
TEHETDIV TEHFRDIV 
TEHETDIV TEHFRDIV 
TEHETDIV TEHTTDIV 
TEHETDIV TEHFUDIV 
nigfid 
TEHBLDIV 
TEHEDIV 
niefid 
niobid 
H'
niomid 
(b
nigvid 
Zuider 
niykid 
Asider 
TEHIIDIV 
TEHIIDIV TEHFRDIV 
TEHIIDIV TEHFRDIV 
TEHRSDIV 
TEHEEDIV 
TEHTSDIV 
TEHRODIV 
/u.ss05 …
TEHEPDIV 
ni/y.ss11/ntilde.ss11 id 
Avider 
Arider 
e\"
Juider 
Abider 
Spider 
ni/i.ss11/eth.ss11 id 
TEHADIV 
TEHNIDIV 

TEHTODIV 
TEHTYDIV 
TEHALDIV TEHTTDIV 
nisrid niggid 
TEHETDIV TEHTYDIV 
TEHXVDIV TEHTYDIV 
nigrid 
TEHALDIV TEHTODIV 
Flider 
ni/o.ss11/w.ss11 id 
TEHTHDIV 
k-
niybid 
nialid 
TEHFEDIV 
Vgider TEHRODIV 
TEHYADIV TEHRODIV 
Pgider TEHRODIV 
TEHETDIV TEHISDIV 
Avider TEHRODIV 
Tider TEHRODIV 
Vgider TEHRODIV 
TEHETDIV TEHFEDIV 
Lider 
Hrider 
Lider Itider 
Itider Pbider 
Orider 
Hyider 
niozid 
Vbider Myider 
niozid nichid 
Ifider 
Ifider 
Tyider 
Loider 
TEHVIDIV 
d'
Utider 
Lyider 
niccid 
TEHTTDIV 
Auider 
Awider ",
"̉",
"/o.ss10",
"OǪ",
"oơ",
"ơ",
"̨ų",
a,
o,
"/abrevegrave.ss05/abrevegrave.ss06/abrevegrave.ss07/abrevegrave.ss08/abrevegrave.ss09/brevecomb_gravecomb/abrevegrave.ss10/abrevegrave.ss11/abrevehookabove.ss11/abrevetilde.ss11/acircumflexgrave.ss11/acircumflexhookabove.ss11/acircumflextilde.ss11/ahookabove.ss11",
"/circumflexcomb_acutecomb/acircumflexacute.ss08",
"GĢ",
H,
U,
"/A.ss03 ̨/Aogonek.ss03",
"/O.ss05",
"̮",
"̱",
"̰",
"̥",
"̭",
"
TEHPPDIV 
nisuid ww
nisoid 
niblid 
TEHAKDIV ",
"ĲĲ/ohornacute.ss08/ohorndotbelow.ss08/ohorngrave.ss08/ohornhookabove.ss08/ohorntilde.ss08/ohornacute.ss09/ohorndotbelow.ss09/ohorngrave.ss09/ohornhookabove.ss09/ohorntilde.ss09 №№/circumflexcomb.case",
"%"
);
}
